.background-heading {
    font-family: 'Lobster';
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 30px;
    padding-bottom: 10px;
}

.about-paragraph {
    padding-left: 7%;
    padding-right: 7%;
    font-family: 'Merriweather';
}

.image {
    padding-left: 7%;
    padding-right: 7%;
    width: 50%;
    height: 10%;
}

.image-section {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 50px;
}