.lichess-title {
    font-family: 'Lobster';
}

.lichess-section {
    padding: 3rem;
}

.card-attribute-title {
    font-family: 'Lobster';
    color: black;
    font-size: 25px;
}

.status-title {
    font-family: 'Lobster';
    padding-top: 10px;
    padding-bottom: 20px;
    color: grey;
}

.bio-title {
    font-family: 'Lobster';
    margin-top: 50px;
    padding-bottom: 20px;
    color: grey;
}